<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carousel / Slider con Glider.js</title>
</head>

<body>
	<div class="contenedor">
		<main class="contenido-principal">
			<img src="/assets/img/1.png" alt="Dome of the German Bundestag" class="contenido-principal__imagen">
			<div class="contenido-principal__contenedor">
				<h1 class="contenido-principal__titulo">Dome of the German Bundestag</h1>
				<p class="contenido-principal__resumen">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a commodo orci. Nulla ipsum ante,
					auctor a odio id, bibendum accumsan mauris.
				</p>
				<p class="contenido-principal__resumen">
					Fusce malesuada mollis ante, at elementum mi maximus nec. Praesent volutpat, tortor sed condimentum
					sagittis, mi diam fringilla nibh.
				</p>
			</div>
		</main>

		<!-- Aca va el carrusel -->
		<div class="sub-conteiner">
			<div class="sub-container-botones">
				<button class="boton-izq">
					< </button>
						<button class="boton-der">
							>
						</button>
			</div>
			<div class="sub-conteiner-img">
				<li>
					<ul>
						<img src="/assets/img/1.png" alt="">
					</ul>
					<ul>
						<img src="/assets/img/2.png" alt="">
					</ul>
					<ul>
						<img src="/assets/img/3.png" alt="">
					</ul>
					<ul>
						<img src="/assets/img/4.png" alt="">
					</ul>
				</li>
			</div>

		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="/assets/js/carrusel.js"></script>
</body>

</html>