<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Título de tu sitio web</title>
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Bienvenido a tu sitio web educativo</h1>
        <p>En este sitio podrás encontrar información sobre cursos, programas y eventos relacionados con la educación.
        </p>
        <button>Ver cursos</button>
    </main>

    <footer>
        <p>Todos los derechos reservados © 2023</p>
    </footer>

    <!-- <script src="main.js"></script> -->
</body>

</html>